* {
    box-sizing: border-box;
  }

 @font-face {
    src: url('fonts/Inter-Regular.woff');
  
    font-style: normal;
    font-weight: 400;
    font-family: "regular";
  }
  
  @font-face {
    src: url('fonts/Inter-Bold.woff');
  
    font-style: normal;
    font-weight: 700;
    font-family: "bold";
  }

 body{
    margin:0;
    display: flex;
    justify-content: center;
}

.page-container {
    margin: 0 auto;
    min-width: 1440px;
  }

  @media (max-width: 768px){
    .page-container {
      margin: 0 auto;
      min-width: 768px;
      width: 100%;
    }
  }

  @media (max-width: 380px){
    .page-container {
      margin: 0 auto;
      min-width: 380px;
      width: 100%;
    }
  }

  .header {
    background-color: #EDF2EC;
  }

  @media (max-width: 768px){
    .header {
      background-color: #EDF2EC;
      min-width: 768px;
      width: 100%;
    }
  }

  @media (max-width: 380px){
    .header {
      background-color: #EDF2EC;
      min-width: 380px;
      width: 100%;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:134px;
  }

  @media (max-width: 768px){
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height:117px;
      min-width: 768px;
      width: 100%;
      height:100%;
      margin-top: 2px;
    }
  }

  @media (max-width: 380px){
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height:96px;
      min-width: 380px;
      margin:0;
    }
  }
  
  .logo {
    width: 80px;
    height: 20px;
    margin-left:110px;
    transition: all;
    transition-duration: 1s;
  }

  @media (max-width: 768px){
    .logo {
      width: 80px;
      height: 20px;
      margin-left:50px;
      transition: all;
      transition-duration: 1s;
    }
  }

  @media (max-width: 380px){
    .logo {
      width: 77px;
      height: 21px;
      margin-left:25px;
      transition: all;
      transition-duration: 1s;
    }
  }

  .logo:hover {
    width:120px;
    height: 30px;
  }

  @media (max-width: 768px){
    .logo:hover {
      width:100px;
      height: 25px;
    }
  }

  @media (max-width: 380px){
    .logo:hover {
      width:90px;
      height: 23px;
    }
  }

  .menu {
    margin-right:109px;
  }

  @media (max-width: 768px){
    .menu {
    margin-right:32px;
  }
}

  .menu-button {
    width: 40px;
    height: 12px;
    border: none;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    margin-bottom: 18px;
    margin-left: 213px;
  }

  .menu-button:before {
    top: 0;
  }
  
  .menu-button:before {
    content: "";
    width: 100%;
    height: 25%;
    background-color: #717171;
    position: absolute;
    left: 0;
    margin-bottom: 5px;
  }
  
  .menu-button:after {
    content: "";
    width: 100%;
    height: 25%;
    background-color: #717171;
    position: absolute;
    left: 0;
  }
  
    .menu-button:after {
      height: 25%;
    }
  
  .menu-button-label {
    width: 100%;
    height: 25%;
    margin-top: 12px;
    background-color: #717171;
    position: absolute;
    left: 0;
    top: 50%;
  }
  
  .menu-button:after {
    bottom: 0;
  }

  .menu-list {
    display: flex;
    list-style-type: none;
  }

  @media (max-width: 380px){
    .menu-list {
      display: none;
    }
  }

  @media (min-width:381px) {
  .menu-button {
    display: none;
  }
}

  .menu-list-item:nth-child(n + 2) {
    margin-left: 46px;
  }

  .menu-link {
    color: black;
    text-decoration: none;
    font-family: "regular";
    font-size: 16px;
    transition: all;
    transition-duration: 1s;
  }

  .menu-link:hover{
    color:#499A18;
  }

  .menu-link-first {
    color:#E06733;
    transition: all;
    transition-duration: 1s;
  }

  .menu-link-first:hover {
    color:black;
  }

  .welcome-landscape{
    display: none;
  }

  .welcome{
    min-height:532px;
    background-color: #EDF2EC;
    min-width:1440px;
    display:flex;
    justify-content: space-between;
  }

  @media (max-width: 768px){
    .welcome {
      display:none;
    }

    .welcome-landscape {
      display:flex;
      justify-content: space-between;
      max-height:420px;
      min-width: 768px;
      width: 100%;
      height:100%;
      background-color: #EDF2EC;
    }
  }

  @media (max-width: 380px){
    .welcome{
      display: none;
    }

    .welcome-landscape{
      max-height:300px;
      background-color: #EDF2EC;
      min-width:380px;
      display:flex;
      flex-wrap: wrap;
    }
  }

  .img-leafs{
    width: 448px;
    height:407px;
    margin-top: 62px;
    margin-left: 109px;
    margin-bottom: 62px;
  }

  @media (max-width: 768px){
    .img-leafs{
      max-width: 280px;
      max-height:254px;
      height:100%;
      margin-top: 40px;
      margin-right: 50px;
      margin-bottom: 125px;
      margin-left:auto;
    }
  }

  @media (max-width: 380px){
    .img-leafs{
      display:none;
    }
  }

 .welcome-header{
    margin: 65px 109px 94px auto;
    height:340px;
    width:549px;
 }

 @media (max-width: 768px) {
  .welcome-landscape-header{
    margin: 13px auto 70px 50px;
    max-height:310px;
    max-width:346px;
 }
}

@media (max-width: 380px){
  .welcome-landscape-header{
    margin: 6px 25px auto 25px;
 }
}

 .welcome-title{
    font-size:45px;
    font-family: 'bold';
    color:gray;
 }

 @media (max-width: 768px) {
  .welcome-landscape-title{
    font-size:35px;
    font-family: 'bold';
    color:gray;
    line-height: 48px;
 }
}

@media (max-width: 380px){
  .welcome-landscape-title{
    font-size:25px;
    font-family: 'bold';
    color:gray;
    line-height: 32px;
 }
}

 .welcome-text{
    font-size:20px;
    color:gray;
    font-family: 'regular';
    margin-top:40px;
    line-height: 35px;
    box-shadow: 10px 5px 5px #499A18;
 }

 @media (max-width: 768px) {

  .welcome-text{
    font-size:16px;
    color:gray;
    font-family: 'regular';
    margin-top:36px;
    line-height: 25px;
    box-shadow: 5px 3px 3px #499A18;
 }
}

@media (max-width: 380px){
    .welcome-text{
      font-size:16px;
      color:gray;
      font-family: 'regular';
      margin-top:27px;
      line-height: 24px;
      box-shadow: none;
   }
  }

 .welcome-button{
    color:black;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'regular';
    padding:14px 27px 14px 27px;
    border-radius: 10px;
    border: 2px solid #E06733;
    height: 45px;
    margin-top: 25px;
    text-align: center;
    line-height: 10px;
    transition: all;
    transition-duration: 1s;
 }

 @media (max-width: 768px) {

  .welcome-button{
    color:black;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'regular';
    padding:14px 27px 14px 27px;
    border-radius: 10px;
    border: 2px solid #E06733;
    height: 45px;
    margin-top: 15px;
    text-align: center;
    line-height: 10px;
    transition: all;
    transition-duration: 1s;
 }
}

@media (max-width: 380px){
.welcome-button{
  color:black;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'regular';
  padding:8px 18px 8px 18px;
  border-radius: 10px;
  border: 2px solid #E06733;
  height: 34px;
  margin-top: 10px;
  text-align: center;
  line-height: 10px;
  transition: all;
  transition-duration: 1s;
  }
}

 .welcome-button:hover{
    cursor:pointer;
    border-color:#499A18;
    color: #E06733;
    border-radius: 20px;
    transform: scale(1.15);
 }

 .about{
    min-height:666px;
    background-color: white;
    min-width:1440px;
    display:flex;
    justify-content: space-between;
  }

  @media (max-width: 768px){
    .about{
      min-height:783px;
      background-color: white;
      min-width:715px;
      display:flex;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 380px){
    .about{
      min-height:515px;
      background-color: white;
      min-width:380px;
      display:flex;
      flex-wrap: wrap;
    }
  }

 .img-houseplant{
    width:464px;
    height:469px;
    margin: 93px 109px 94px auto;
 }

 @media (max-width: 768px){
  .img-houseplant{
    max-width:250px;
    max-height:258px;
    width: 100%;
    height:100%;
    margin:0 auto;
    margin-bottom: 95px;
 }
}

@media (max-width: 380px){

  .img-houseplant{
    max-width:150px;
    max-height:147px;
    width: 100%;
    height:100%;
    margin:0 auto;
    margin-top:-45px;
 }
}

.about-header{
  height:350px;
  width:605px;
  margin:135px auto 155px 109px;
}

 @media (max-width: 768px) {

    .about-header{
      max-height:350px;
      max-width:668px;
      margin:40px 50px 40px 50px;
      width: 100%;
      height:100%;
   }
  }

  @media (max-width: 380px){
    .about-header{
      max-height:320px;
      max-width:330px;
      margin:30px 25px 1px 25px;
      width: 100%;
      height:100%;
   }
  }

  .about-title{
    font-size:40px;
    font-family: 'regular';
    color:#499A18;
 }

@media (max-width: 768px){
  .about-title{
    font-size:35px;
    font-family: 'regular';
    color:#499A18;
    text-align: center;
    max-width:423px;
    max-height:102px;
    margin:0 auto;
    line-height: 45px;
    padding-left: 17px;
 }
}

@media (max-width: 380px){
  .about-title{
    font-size:25px;
    font-family: 'regular';
    color:#499A18;
    text-align: center;
    max-width:289px;
    max-height:59px;
    margin:0 auto;
    line-height: 32px;
    padding-left: 4px;
 }
}

.about-text{
  font-size:20px;
  color:gray;
  font-family: 'regular';
  line-height: 30px;
  margin-top:40px;
  box-shadow: 10px 5px 5px #E06733;
}

 @media (max-width: 768px){

 .about-text{
    font-size:20px;
    color:gray;
    font-family: 'regular';
    line-height: 30px;
    margin-top:40px;
    box-shadow: 5px 3px 3px #E06733;
 }
}

@media (max-width: 380px){
  .about-text{
    font-size:15px;
    color:gray;
    font-family: 'regular';
    line-height: 25px;
    margin-top:18px;
    box-shadow: none;
  }
}

.services-container{
    min-width: 1440px;
    min-height:1300px;
    background-color: #EDF2EC;
}

@media (max-width: 768px) {
  .services-container{
    min-width: 768px;
    max-height:1780px;
    height:100%;
    background-color: #EDF2EC;
  }
}

@media (max-width: 380px){
  .services-container{
    min-width: 380px;
    max-height:3150px;
    height:100%;
    background-color: #EDF2EC;
  }
}

.services{
  display:flex;
  min-height:94px;
  min-width: 1440px;
  padding-top:10px;
  padding-left: 109px;
  padding-right:324px;
  align-items: center;
}

@media (max-width: 768px) {
.services{
    display:flex;
    min-height:200px;
    min-width: 768px;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right:324px;
  }
}

@media (max-width: 380px){
  .services{
    display:flex;
    min-height:148px;
    min-width: 380px;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right:0px;
  }
}

.service-header{
    font-size:40px;
    color:green;
    min-width:300px;
}

@media (max-width: 768px) {
  .service-header{
    font-size:35px;
    color:green;
    max-width:306px;
    margin-top: 55px;
  }
}

@media (max-width: 380px){
  .service-header{
    font-size:25px;
    color:green;
    min-width:0px;
    margin-top: 22px;
    margin-left:25px;
    max-width:187px;
  }
}

.service-list{
    display: flex;
    align-items: center;
    margin-left: 133px
}

@media (max-width: 768px) {
  .service-list{
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-top:20px;
  }
}

@media (max-width: 380px){
  .service-list{
    display: flex;
    flex-wrap: wrap;
    margin-left:28px;
    margin-top: 24px;
  }
}

.service-item:hover,
.service-item.active {
    background-color: white;
    color:#499A18;
    border: 1px solid #E06733;
    margin-top:30px;
}

.service-item{
    border: 1px solid #499A18;
    padding: 12px 45px 12px 45px;
    border-radius: 5px;
    cursor:pointer;
    color:#E06733;
    font-size: 20px;
    transition: all;
    transition-duration: 0.5s;
}

@media (max-width: 768px){
  .service-item{
    border: 1px solid #499A18;
    padding: 12px 35px 12px 35px;
    border-radius: 5px;
    cursor:pointer;
    color:#E06733;
    font-size: 20px;
    transition: all;
    transition-duration: 0.5s;
  }
}

@media (max-width: 380px){
  .service-item{
    border: 1px solid #499A18;
    padding: 8px 28px 7px 28px;
    border-radius: 5px;
    cursor:pointer;
    color:#E06733;
    font-size: 15px;
    transition: all;
    transition-duration: 0.5s;
    margin-top:1px;
  }

  .service-item:hover{
    width:150px;
    margin-top:1px;
  }
}

.service-item:nth-child(n+2){
    padding: 12px 55px 12px 55px;
}

.service-item:nth-child(n+1){
    margin-right: 38px;
}

@media (max-width: 380px){
  .service-item:nth-child(n+2){
    padding: 8px 40px 7px 40px;
  }

  .service-item:nth-child(n+1){
    margin-right: 15px;
}

.service-item:nth-child(n+3){
  padding: 8px 30px 7px 30px;
  margin-top: 10px;
  }
}

.services-articles{
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
  .services-articles{
    margin-top: -27px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 380px){
  .services-articles{
    margin-top: -27px;
    display: flex;
    flex-wrap: wrap;
  }
}

.services-article{
    width:30%;
    text-align: center;
    margin:0 auto;
    filter: blur(2px);
    transition: all;
    transition-duration: 1s;
}

@media (max-width: 768px) {
  .services-article{
    width:50%;
    text-align: center;
    margin:0 auto;
    filter: blur(2px);
    transition: all;
    transition-duration: 1s;
  }
}

@media (max-width: 380px){
  .services-article{
    width:100%;
    text-align: center;
    margin:0 auto;
    filter: blur(2px);
    transition: all;
    transition-duration: 1s;
  }
}

.services-article.active {
  filter: blur(0);
}

.services-article:nth-child(3n+1){
    padding-left:75px;
}

.services-article:nth-child(3n+3){
    padding-right:80px;
}

.services-article:nth-child(1n+4){
    margin-top:70px;
}

@media (max-width: 768px){
  .services-article:nth-child(odd){
    padding-left: 50px;
    padding-right: 53px;
    margin-top:70px;
  }

.services-article:nth-child(even){
  padding-right: 30px;
  padding-left:53px;
  margin-top:70px;
  }

.services-article:nth-child(1n+3){
  margin-top:55px;
  }
}

@media (max-width: 380px){

  .services-article:nth-child(odd){
    padding:0;
    margin-top:68px;
  }

.services-article:nth-child(even){
  padding:0;
  margin-top:54px;
  }

.services-article:nth-child(1n+3){
  margin-top:53px;
  }
}

.services-img{
    border-radius: 20px 20px 0 0;
}

@media (max-width: 768px){
  .services-img{
  max-width: 280px;
  max-height: 350px;
  }
}

.services-header{
    margin-top:5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'bold';
    color: #E06733;
}

.services-text{
    margin-top:-5px;
    font-size: 16px;
    font-family: 'regular';
}

@media (max-width: 768px){
  .services-text{
    text-align: center;
    max-width: 250px;
    margin:0 auto;
    margin-top:-12px;
  }
}

.prices{
  min-width:1440px;
  min-height:560px;
  background-color: white;
  display:flex;
  justify-content: space-between;
}

@media (max-width: 768px){
  .prices{
    min-width:715px;
    max-height:585px;
    background-color: white;
    display:flex;
    justify-content: space-between;
  }
}

@media (max-width: 380px){
  .prices{
    min-width:380px;
    min-height:512px;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
  }
}

.prices-dropdowns{
  margin: 10px auto 129px 109px;
}

@media (max-width: 768px){
  .prices-dropdowns{
    margin: 7px auto 164px 68px;
  }
}

@media (max-width: 380px){
  .prices-dropdowns{
    margin: 0 auto;
  }
}

.prices-header-left{
  font-weight: bold;
  font-family: 'bold';
  font-size: 40px;
}

@media (max-width: 768px){
  .prices-header-left{
    font-weight: bold;
    font-family: 'bold';
    font-size: 35px;
  }
}

@media (max-width: 380px){
  .prices-header-left{
    font-weight: bold;
    font-family: 'bold';
    font-size: 25px;
    margin-top:24px;
  }
}

.prices-group{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #E3E1D5;
  padding: 34px 41px 34px 41px;
  border-radius: 20px;
  margin-top:25px;
}

@media (max-width: 768px){
  .prices-group{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #E3E1D5;
    padding: 36px 39px 34px 34px;
    border-radius: 20px;
    margin-top:25px;
    margin-left:-8px;
  }
}

@media (max-width: 380px){
  .prices-group{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #E3E1D5;
    padding: 29px 22px 29px 22px;
    border-radius: 20px;
    margin-top:19px;
    margin-right: auto;
    margin-left: auto;
    max-width:220px;
  }
}

.prices-select{
  width: 250px;
  height:50px;
  border-radius: 20px;
  background-color: #EDF2EC;
  padding: 10px 100px 10px 40px;
  font-size: 20px;
  font-weight: bold;
  border:none;
  outline:none;
  font-family: 'bold';
  justify-content: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('png/down.png');
  background-repeat: no-repeat;
  background-position: right 35px center;
  background-size: 16px;
}

.prices-select:focus{
  background-image: url('png/up.png');
  background-repeat: no-repeat;
  background-position: right 35px center;
  background-size: 16px;
    }

@media (max-width: 380px){
  .prices-select{
  width: 180px;
  height:50px;
  border-radius: 20px;
  background-color: #EDF2EC;
  padding: 15px 61px 15px 30px;
  font-size: 15px;
  font-weight: bold;
  border:none;
  outline:none;
  font-family: 'bold';
  justify-content: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('png/down.png');
  background-repeat: no-repeat;
  background-position: right 35px center;
  background-size: 16px;
  }
}

.prices-select:hover{
  cursor: pointer;
}

.prices-select:nth-child(1n+2){
  margin-top:32px;
}

@media (max-width: 380px){
  .prices-select:nth-child(1n+2){
    margin-top:13px;
  }
}

.prices-dropdowns{
  max-width: 332px;
  max-height: 391px;
  display: flex;
  flex-direction: column;
}

.prices-contacts{
  max-width: 452px;
  display: flex;
  flex-direction: column;
  margin:10px 106px 128px auto;
}

@media (max-width: 768px){
  .prices-contacts{
    max-width: 296px;
    width: 100%;
    max-height: 358px;
    height:100%;
    display: flex;
    flex-direction: column;
    margin:114px 46px 128px auto;
  }
}

@media (max-width: 380px){
  .prices-contacts{
    max-width: 230px;
    width: 100%;
    max-height: 126px;
    height:100%;
    display: flex;
    flex-direction: column;
    margin:-10px auto 40px auto;
  }
}

.prices-header-right{
  font-family: 'bold';
  font-size: 40px;
  text-align: end;
}

@media (max-width: 768px){
  .prices-header-right{
    font-family: 'bold';
    font-size: 25px;
    text-align: end;
    line-height: 32px;
  }
}

@media (max-width: 380px){
  .prices-header-right{
    font-family: 'bold';
    font-size: 20px;
    text-align: center;
    line-height: 32px;
  }
}

.prices-contacts-button{
  width: 165px;
  height: 50px;
  padding: 12px 30px 12px 30px;
  border:1px solid #E06733;
  color:#E06733;
  border-radius: 5px;
  background-color: white;
  font-size: 18px;
  font-family: 'bold';
  margin-left: 283px;
  margin-top:10px;
  transition: all;
  transition-duration: 1.5s;
}

@media (max-width: 768px){
  .prices-contacts-button{
    width: 165px;
    height: 50px;
    padding: 12px 30px 12px 30px;
    border:1px solid #E06733;
    color:#E06733;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    font-family: 'bold';
    margin-left: 130px;
    margin-top:15px;
    transition: all;
    transition-duration: 1.5s;
  }
}

@media (max-width: 380px){
  .prices-contacts-button{
    width: 121px;
    height: 35px;
    padding: 8px 22px 8px 22px;
    border:1px solid #E06733;
    color:#E06733;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    font-family: 'bold';
    margin:0 auto;
    margin-top:8px;
    transition: all;
    transition-duration: 1.5s;
  }
}

.prices-contacts-button:hover{
  cursor: pointer;
  width:330px;
  border:1px solid #499A18;
  background-color: #EDF2EC;
  border-radius: 30px;
  color: #499A18;
  margin-left:120px;
}

@media (max-width: 768px){
  .prices-contacts-button:hover{
    cursor: pointer;
    width:220px;
    margin-left:50px;
    border:1px solid #499A18;
    color: #499A18;
  }
}

@media (max-width: 380px){
  .prices-contacts-button:hover{
    cursor: pointer;
    width:200px;
    border:1px solid #499A18;
    color: #499A18;
    margin-right: auto;
    margin-left:auto;
  }
}

.prices-leafs{
  height:175px;
  width:152px;
  margin-top:39px;
  margin-left:300px;
}

@media (max-width: 768px){
  .prices-leafs{
    max-height:175px;
    max-width:152px;
    margin-top:32px;
    margin-left:145px;
  }
}

@media (max-width: 380px){
  .prices-leafs{
    display: none;
  }
}

.contacts{
  min-width:1440px;
  min-height:535px;
  background-color: #EDF2EC;
  display: flex;
  justify-content: space-between;
}

.contacts-landscape{
  display: none;
}

@media (max-width: 768px){
  .contacts{
    display: none;
  }

  .contacts-landscape{
    display: none;
    min-width: 768px;
    max-height: 739px;
    background-color: #EDF2EC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 380px){
  .contacts{
    display: none;
  }

  .contacts-landscape{
    display: none;
    min-width: 380px;
    min-height: 445px;
    background-color: #EDF2EC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

.contacts-img{
  width:400px;
  height:497px;
  margin-left:109px;
  margin-top:40px;
}

@media (max-width: 768px){
  .contacts-landscape-img{
    max-width:200px;
    max-height:248px;
    margin-top:248px;
    margin-left: 26px;
  }
}

@media (max-width: 380px){
  .contacts-landscape-img{
    max-width:100px;
    max-height:125px;
    margin-top:130px;
    margin-left: auto;
    margin-right:auto;
  }
}

.contacts-header{
  margin-left: 65px;
  margin-top: 45px;
  font-size: 40px;
  color:#499A18;
  font-family: 'bold';
}

@media (max-width: 768px) {
.contacts-landscape-header{
  margin-top: 40px;
  font-size: 35px;
  color:#499A18;
  font-family: 'bold';
  }
}

@media (max-width: 380px){
  .contacts-landscape-header{
    margin-top: 25px;
    font-size: 25px;
    color:#499A18;
    font-family: 'bold';
    }
  }
  
.contacts-select{
  width:450px;
  height:50px;
  background-color: #D6E7D2;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('png/down gray.png');
  background-repeat: no-repeat;
  background-position: right 35px center;
  background-size: 16px;
  margin: 133px 108px 352px auto;
  color:#717171;
  font-size: 20px;
  font-family: 'regular';
  padding-left:20px;
  border:none;
  outline:none;
  border-radius: 5px;
  box-shadow: #AEA1A1 0px 5px 5px;
}

@media (max-width: 768px){
  .contacts-landscape-select{
    width:450px;
    height:50px;
    background-color: #D6E7D2;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('png/down gray.png');
    background-repeat: no-repeat;
    background-position: right 35px center;
    background-size: 16px;
    color:#717171;
    font-size: 20px;
    font-family: 'regular';
    padding-left:20px;
    border:none;
    outline:none;
    border-radius: 5px;
    box-shadow: #AEA1A1 0px 5px 5px;
    margin-top:76px;
  }
}

@media (max-width: 380px){
  .contacts-landscape-select{
    width:300px;
    height:50px;
    background-color: #D6E7D2;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('png/down gray.png');
    background-repeat: no-repeat;
    background-position: right 25px center;
    background-size: 16px;
    color:#717171;
    font-size: 20px;
    font-family: 'regular';
    padding-left:20px;
    border:none;
    outline:none;
    border-radius: 5px;
    box-shadow: #AEA1A1 0px 5px 5px;
    margin-top:65px;
  }
}

.contacts-select:hover{
  cursor:pointer;
}


.contacts-select:focus{
  background-image: url('png/up green.png');
  background-repeat: no-repeat;
  background-position: right 35px center;
  background-size: 16px;
  background-color: #C1E698;
}

.contacts-optgroup{
  font-size: 16px;
  font-family: 'regular';
  background-color: #DCE9D9;
}

.contacts-option{
  color:#499A18;
  background-color: #DCE9D9;
}

.super{
  display: none;
}

@media (max-width: 768px){

  .contacts-landscape-select:hover{
    cursor:pointer;
  }
  
  .contacts-landscape-select:focus{
    background-image: url('png/up green.png');
    background-repeat: no-repeat;
    background-position: right 35px center;
    background-size: 16px;
    background-color: #C1E698;
  }
  
  .contacts-landscape-optgroup{
    font-size: 16px;
    font-family: 'regular';
    background-color: #DCE9D9;
  }
  
  .contacts-landscape-option{
    color:#499A18;
    background-color: #DCE9D9;
  }
  
  .super{
    display: none;
  }
}

.footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  min-height:130px;
  min-width: 1440px;
}


.social {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.social-link-inst:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  
  width: 32px;
  height: 32px;

  margin-right: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  background-image: url('png/inst 1.png');
}

.social-link-face:before {
  content: "";
  display: inline-block;
  vertical-align: middle;

  width: 32px;
  height: 32px;

  margin-right: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  background-image: url('png/fb 1.png');
}

.social-link-tw:before {
  content: "";
  display: inline-block;
  vertical-align: middle;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  background-image: url('png/tw 1.png');
}

.social-link-pint:before {
  content: "";
  display: inline-block;
  vertical-align: middle;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  background-image: url('png/pinterest 1.png');
}

.footer-block{
  font-size: 20px;
  font-family: 'regular';
}

.first{
  margin-left:109px;
}

.third{
  margin-right:95px;
}

@media (max-width: 768px){

    .footer{
      display:flex;
      justify-content: center;
      flex-direction: column;
      min-height:181px;
      min-width: 768px;
    }

  .first{
    margin-top:32px;
    margin-left: 18px;
  }

  .second{
    margin-top:20px;
  }
  
  .third{
    margin-top:10px;
    margin-right:0px;
    margin-left: 25px;
  }
}

@media (max-width: 380px){
  .footer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    min-height:146px;
    min-width: 380px;
  }

.first{
  margin-top:22px;
  margin-left: 18px;
}

.second{
  margin-top:16px;
}

.third{
  margin-top:-7px;
  margin-right:0px;
  margin-left: 25px;
  }
}

.item-first{
  padding-right: 17px;
}

.social-item{
  width: 32px;
  height: 32px;
}

.social-item:nth-child(1n+1){
  margin-right:20px;
}

.school-link{
  color:black;
  text-decoration: none;
  transition: all;
  transition-duration: 1.5s;
}

.school-link:hover{
color:#E06733;
font-size:25px;
}

.github-link{
  color:black;
  text-decoration: none;
}